* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;
    min-height: calc(100vh - 40px - 40px);
}
header{
    height: 40px;
    margin-bottom: 10px;
    width: 1280px;
    background-color: purple;
}
img {
    height: 100px;
    width: 627px;
    margin: 1px;
    float: none;
}

.main img {
    height: 230px;
    width: 400px;
}

h1 {
    display: block;
    font-size: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 453px;
    margin-inline-end: 0px;
    font-weight: bold;
}
nav {
    height: 70px;
    line-height: 70px;
    border: 1px  solid green;
  }
 
  nav ul {
     list-style: none;
     width: 100%;
     border: 1px solid purple;
     text-align:right;
  }
 
 nav ul li {
   display: inline-block;
   font-size: 60%;
   margin-right: 43px;
   border : 1px black;
  }  

.paragraph{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;    
    padding: 10px;
    border: 5px solid gray;
}
footer{
  border-top: solid 1px;
  width: 100%;
  height: 10px;
  padding: 20 px;
  background-color: solid gray;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}
.work img{
    height: 325px;
    width: 380px;
    float:none;
    margin: 1px;

}