* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container { 
    width: 980px;
    margin: 0;
    border: 2px blueviolet;
}
    body {
    background-color: rgb(14, 173, 17);
}
header {
    margin-bottom: 10px;
    height: 40px;
    background-color: yellow;
    color: black;
}
img {
    height: 100px;
    width: 500px;
    margin: 1px;
    float: none;
}
nav {
    width: 100%;
    display: flex;

}

